*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease;
}
html
{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
    user-select: none;
    min-height: 100vh;
    padding-top: var(--menu-size);
}
section
{
    width: 100%;
    padding: var(--menu-size) 5%;
    min-height: var(--section-size);
}