header
{
    min-height: var(--menu-size);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 997;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    background-color: var(--primary-color);
    padding: 1rem 5%;

    will-change: opacity;
}
.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    background-color: hsla(0, 0%, 0%, 0.1);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
}
.overlay-show
{
    opacity: 1;
}
.logo-area
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.logo
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}
.panela-name
{
    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--bg-color-first);
}
.hamburguer-menu-icon-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer;
    transition: opacity 0.2s ease;
}
.hamburguer-menu-icon-wrapper-hidden
{
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);
}
.hamburguer-menu-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}
.hamburguer-menu-icon-wrapper:active
{
    transform: translateY(0.2rem);
    box-shadow: 0px 0px 0px var(--bg-color-second);
}