header
{
    min-height: var(--menu-size);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 997;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-color);
    padding: 1rem 5%;

    will-change: opacity;
}
.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    background-color: hsla(0, 0%, 0%, 0.1);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
}
.overlay-show
{
    opacity: 1;
}
.logo-area
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.logo
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}
.panela-name
{
    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--bg-color-first);
}
.hamburguer-menu-icon-wrapper
{
    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer;
    transition: opacity 0.2s ease;
}
.hamburguer-menu-icon-wrapper-hidden
{
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);
}
.hamburguer-menu-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}


/* SIDEBAR */
.sidebar
{
    width: 70%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    visibility: hidden;
    transform: translateX(100%);
    pointer-events: none;

    transition: transform 0.8s ease, visibility 2.1s;
}
.sidebar-open
{
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
}
.close-menu-icon-wrapper
{
    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer;
}
.close-menu-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
    cursor: pointer;
}
.sidebar-items-wrapper
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
.sidebar-item
{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 1rem;
    box-shadow: 0px 0.4rem 0px var(--bg-color-second);

    cursor: pointer;
}
.sidebar-item-name
{
    color: var(--bg-color-first);
    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
}
.sidebar-item-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}
.lightmode-icon-wrapper
{
    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer; 
}
.lightmode-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
    cursor: pointer;
}

/* ACTIVE EFFECTS */
.hamburguer-menu-icon-wrapper:active, .close-menu-icon-wrapper:active, .lightmode-icon-wrapper:active
{
    transform: translateY(0.2rem);
    box-shadow: 0px 0px 0px var(--bg-color-second);
}
.sidebar-item:active 
{
    transform: translateY(0.4rem);
    box-shadow: 0px 0px 0px var(--bg-color-second);  
}