#settings-screen
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
}

/* BACK BUTTON */
.settings-screen-back-button-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-screen-back-button
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--bg-color-first);
    padding: 1em 0;
    border: var(--border) var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 0.4em 0px var(--primary-color-dark);

    cursor: pointer;
}
.settings-screen-back-button-icon
{
    width: var(--icon-size-small);
    fill: var(--primary-color);
}
.settings-screen-back-button-span
{
    font-family: var(--font);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
}


/* HEADER */
.settings-screen-header
{
    width: 100%;
    text-align: center;

    font-family: var(--font);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
}

/* INPUT */
.settings-screen-input-wrapper
{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
.settings-screen-timer-input-wrapper, .settings-screen-words-input-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--bg-color-first);
    border: var(--border) var(--text-color-first);
    border-radius: var(--border-radius);
    box-shadow: 0px 0.4em 0px var(--text-color-second);
}
.timer-input-label, .words-per-player-input-label
{
    font-family: var(--font);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-first);
}
#timer-input, #words-per-player-input
{
    width: 50%;
    text-align: center;

    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-first);

    padding: 0.5rem;
    background-color: var(--bg-color-first);
    border: 0.2rem solid var(--text-color-first);
    border-radius: var(--border-radius);

    cursor: pointer;
}

/* BUTTON */
.settings-screen-continue-button-wrapper
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-screen-continue-button
{
    width: 70%;

    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-first);

    background-color: var(--success-color);
    padding: 1em 0;
    border: var(--border) var(--text-color-first);
    border-radius: var(--border-radius);
    box-shadow: 0px 0.4em 0px var(--text-color-second);

    cursor: pointer;
}
.settings-screen-continue-button:active
{
    transform: translateY(0.4em);
    box-shadow: 0px 0px 0px var(--text-color-second);
} 