.sidebar
{
    width: 80%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    padding: 6vh 5%;
    background-color: var(--primary-color);

    visibility: hidden;
    transform: translateX(100%);
    pointer-events: none;

    transition: transform 0.8s ease, visibility 2.1s;
}
.sidebar-open
{
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
}
.close-menu-icon-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer;
}
.close-menu-icon
{
    width: var(--icon-size-medium);
    fill: var(--bg-color-first);
    cursor: pointer;
}
.sidebar-items-wrapper
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
.sidebar-item
{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 1rem;
    box-shadow: 0px 0.4rem 0px var(--bg-color-second);

    cursor: pointer;
}
.sidebar-item-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
}
.sidebar-item-name
{
    color: var(--bg-color-first);
    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--font-size-medium) * 1.2);
}
.sidebar-item-icon
{
    width: var(--icon-size-large);
    fill: var(--bg-color-first);
}
.sidebar-item-description
{
    width: 100%;

    font-family: var(--font);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    color: var(--bg-color-first);

    padding-top: 1rem;
    border-top: var(--border) var(--bg-color-second);

    pointer-events: none;
}
.lightmode-icon-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.1em;
    background-color: var(--primary-color);
    border: var(--border);
    border-color: var(--bg-color-first);
    border-radius: 16%;
    box-shadow: 0px 0.2rem 0px var(--bg-color-second);

    cursor: pointer; 
}
.lightmode-icon
{
    width: var(--icon-size-medium);
    fill: var(--bg-color-first);
    cursor: pointer;
}

/* ACTIVE EFFECTS */
.close-menu-icon-wrapper:active, .lightmode-icon-wrapper:active
{
    transform: translateY(0.2rem);
    box-shadow: 0px 0px 0px var(--bg-color-second);
}
.sidebar-item:active 
{
    transform: translateY(0.4rem);
    box-shadow: 0px 0px 0px var(--bg-color-second);  
}


/* SIDEBAR ITEMS DESCRIPTION */
.sidebar-how-to-play-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.sidebar-how-to-play-rules
{
    list-style-position: inside;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.sidebar-how-to-play-rounds
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; 
}
.sidebar-how-to-play-rounds-list
{
    list-style-position: inside;
}
.sidebar-how-to-play-rounds-header
{

}
.sidebar-how-to-play-goal
{

}