@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root
{
    --menu-size: 10vh;
    --section-size: 85vh;
    --footer-size: 5vh;

    --icon-size-large: 2.4rem;
    --icon-size-medium: 2rem;
    --icon-size-small: 1.8rem;

    --padding: 1.5em 2em;

    --border: solid 0.2em var(var(--text-color-first));
    --border-radius: 1.5rem;
    --box-shadow: 2px 2px 0px hsla(var(--text-color-second) / 1);

    --font: "Poppins", sans-serif;
    --font-size-large: 3rem;
    --font-size-medium: 2rem;
    --font-size-regular: 1.5rem;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --text-color-first: hsl(0, 0%, 0%);
    --text-color-second: hsl(0, 0%, 5%);
    --text-color-third: hsl(0, 0%, 10%);

    --bg-color-first: hsl(0, 0%, 100%);
    --bg-color-second: hsl(0, 0%, 95%);
    --bg-color-third: hsl(0, 0%, 90%);

    --primary-color: hsl(210, 100%, 55%);
    --primary-color-dark: hsl(210 100% 35%);
    --success-color: hsl(150, 60%, 45%);
    --failure-color: hsl(0, 80%, 55%);
    --information-color: hsl(45, 90%, 55%);
}